---
---
@import "variables";

.navbar-custom {
    background-color: $grey-color-dark;
    color: $wolfpack-white;
    border: 0;
  	border-radius: 0 !important;
    margin-bottom: 1px !important;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: $wolfpack-white;
    // background-color: transparent;
    background-color: $grey-color;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: $wolfpack-white;
    background-color: $wolfpack-red-dark;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
    font-size: 20px;
}
.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}
.navbar-custom .icon-bar {
    background-color: $wolfpack-red-dark;
}

.red-bg {
    background-color: $wolfpack-red-dark;
    color: $wolfpack-white;
}

#masthead {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    .btn-lg {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn-outline-inverse {
      color: $wolfpack-white;
      background-color: $wolfpack-red-dark;
      border-style: solid;
      border-width: 2px;
      border-color: $wolfpack-white;
    }

    .btn-outline-inverse:hover,
    .btn-outline-inverse:focus,
    .btn-outline-inverse:active {
      color: $wolfpack-red-dark;
      background-color: $wolfpack-white;
      border-color: $wolfpack-white;
    }
}

#headshot {
    display: inline;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: $wolfpack-white;
    margin-top:25px;
    margin-bottom:20px;
}

#tagline {
    margin-top: 10px;
    margin-bottom: 15px;
}
