$grey-color:       #666666;
$grey-color-light: #CCCCCC;
$grey-color-dark:  #333333;
$theme-primary: #518c74;
$theme-primary-med-dark: darken($theme-primary, 5%);
$theme-primary-dark: darken($theme-primary, 10%);
$theme-primary-med-light: lighten($theme-primary, 5%);
$theme-primary-light: lighten($theme-primary, 10%);

$theme-white: #FFFFFF;
$theme-black: #000000;
$theme-off-white: darken($theme-white, 5%);

$success-color: #5cb85c;
$primary-color: #428bca;
