---
layout: blog
---
<div class="container-fluid page-content-custom">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post-content narrow-content" itemprop="articleBody">
          <div class="row">
              <p class="lead back-button">
                  <a href="/blog" class="btn btn-outline btn-lg" style="margin-bottom: 0px;">
                      <span class="glyphicon glyphicon-circle-arrow-left" style="margin-right: 15px;vertical-align: -2px;"></span>
                      Go Back to Blog
                  </a>
              </p>
          </div>
          <header>
              <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
              <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
              <p class="post-meta">
                  Tags: {% for tag in page.tags %}
                            <a href="/blog/tags#{{ tag }}" class="tag">{{ tag }}</a>
                        {% endfor %}
              </p><br/>
          </header>
          {{ content }}

          <h3>Tags</h3>
            {% for tag in page.tags %}
                <a href="/blog/tags#{{ tag }}" class="tag">{{ tag }}</a>
            {% endfor %}
      </div>
    </article>
</div>
