---
layout: default
---
<div class="container-fluid red-bg-fade page-header-custom">
    <div class="fixed-width-content">
        <div>
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
        </div>
    </div>
</div>

<div class="container-fluid page-content-custom">
    <div class="fixed-width-content">
        <div class="row">
            <p class="lead back-button">
                <a href="/projects#{{ page.return_div }}" class="btn btn-outline btn-lg">
                    <span class="glyphicon glyphicon-circle-arrow-left" style="margin-right: 15px;vertical-align: -2px;"></span>
                    Go Back to Projects Page
                </a>
            </p>
        </div>
    </div>
    {{ content }}
</div>

{% if page.github %}
    <div class="dark-wide-link">
        <div class="container-fluid text-center">
            <a href="{{ page.github }}" class="btn btn-outline btn-lg">
                <img src="/assets/logos/github_mark_light.png" class="social-image" alt="GitHub Mark"/>
                <h2>View on GitHub</h2>
            </a>
        </div>
    </div>
{% endif %}
